
<div class="main">

  <nz-layout>
    <nz-header>
      <h1>Car Registration Form</h1>
    </nz-header>
    <nz-content>
      <div nz-row class="content-area">
        <div nz-col nzSpan="16" class="form-area">
          <form nz-form [formGroup]="carRegistration" (ngSubmit)="submitForm()">
            <nz-form-item>
              <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="fullNameErrorTpl">
                <input nz-input formControlName="fullName" placeholder="Enter your full name for car registration"/>
                <ng-template #fullNameErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">Full Name is required!</ng-container>
                  <ng-container *ngIf="control.hasError('invalidName')">Full Name should have characters only!</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="carBrandErrorTpl">
                <nz-select formControlName="brands" nzShowSearch nzAllowClear nzPlaceHolder="Select a Car Brand">
                  <nz-option *ngFor="let brand of listOfCarBrands" [nzLabel]="brand" [nzValue]="brand"></nz-option>
                </nz-select>
                <ng-template #carBrandErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">Car Brand is required!</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Select the Auto Parts!">
                <nz-select formControlName="autoParts"
                  [nzMaxTagCount]="3"
                  [nzMaxTagPlaceholder]="tagPlaceHolder"
                  nzMode="multiple"
                  nzPlaceHolder="Select Auto Parts"
                  >
                  <nz-option *ngFor="let autoPart of listOfAutoParts" [nzLabel]="autoPart" [nzValue]="autoPart"></nz-option>
                </nz-select>
                <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more selected</ng-template>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Select the Auto Parts!">
                <input (colorPickerChange)="saveSelectedColor($event)" [(colorPicker)]="color" [style.background]="color"/>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control [nzOffset]="7" [nzSpan]="12">
                <button nz-button nzType="primary" [disabled]="!carRegistration.valid">Submit</button>
                <button nz-button (click)="resetForm($event)">Reset</button>
              </nz-form-control>
            </nz-form-item>

          </form>
        </div>
        <div nz-col nzSpan="8" class="form-data-section">
          <ng-container *ngIf="registrationData">
            <nz-descriptions
              nzTitle="Car Registration Form Summary"
              nzBordered
              [nzColumn]="{ xxl: 1, xl: 1, lg: 1, md: 1, sm: 1, xs: 1 }">
              <nz-descriptions-item *ngIf="registrationData?.name" nzTitle="Full Name">{{registrationData?.name}}</nz-descriptions-item>
              <nz-descriptions-item *ngIf="registrationData?.brand" nzTitle="Brand">{{registrationData?.brand}}</nz-descriptions-item>
              <nz-descriptions-item *ngIf="registrationData?.autoParts" nzTitle="Auto Parts">{{registrationData?.autoParts}}</nz-descriptions-item>
              <nz-descriptions-item *ngIf="registrationData?.color" nzTitle="Color">{{registrationData?.color}}</nz-descriptions-item>
            </nz-descriptions>
          </ng-container>
        </div>
      </div>
    </nz-content>
    <nz-footer></nz-footer>
  </nz-layout>
</div>

